.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #a688fa;
  color: azure;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
  width: auto;
}

button:hover {
  background-color: #a688fa75;
  scale: 98%;
}

input {
  border-radius: 12px;
  padding: 15px 32px;
  text-align: start;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  transition-duration: 0.4s;
  outline: none;
}

.qrCode {
  margin-top: 30px;
}

img {
  width: 300px;
}